.jafor{
    color: red;
}
.jafo{
    color: rgb(0, 0, 0);
    
}
.ja{
   color: aqua;
}
.jaforpic{
    width: 300px;
}
body{
    margin-left: 20px;
}
.tarek{
    width: 300px
    ;
}
.oli{
    width: 300px;
}
.all{
    width: 500px;
}